/*****entete de page*****/
header{
    background-color: #000;
    display: flex;
}
.logo1{
    width:250px;
}
.logo2{
    object-fit: contain;
    width: 200px;
}
.fab {
    margin-left: 47%;
    font-size: 3.5rem;
    color:lightblue;
}
a{
    text-decoration: none;
}
/*****menu deroulant*******/
nav.menuderoulant{
    display: flex;
    justify-content: space-around;
}
.menu1A {
    list-style:none;
    color:#FFF;
    padding:10px 50px;
    font-size:20px;
    text-decoration:none;
}

.menuderoulant .menu1 {
    background-color:#000;
    padding:0;
    margin:0;
}

.menuderoulant .menu1 .menu1A {
    list-style: none;
    line-height:44px;
    float:left;
    background-color:red;
}

.menuderoulant .menu1 .menu1A a {
    color:#fff;
    padding:20px;
    font-size:20px;
    text-decoration:none;
}

.menu1A a:hover {
    border-bottom:3px #FFF solid;
}

.menuderoulant .menu1 .menu1A .menu1 { 
    display:none; 
} 

.menuderoulant .menu1 .menu1A:hover .menu1 { 
    z-index:99999;
    display:list-item;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
}

.menuderoulant .menu1 .menu1A:hover .menu1 .menu1A {
    float:none;
}
/******formulaire********/
form{
    text-align: center;
    margin-right: 5%;
}
/******ecriture*********/
h1{
    text-align: center;
    color:#fff;
}
h2{
    text-align: center;
    color: #fff;
}
.Lfacebook{
    color:#fff ;
    text-align: center;
    margin-left: 10px;

}
h3{
    text-align: center;
}
.welcometitle{
    color: #fff;
}
.formtitle{
    color: #FFF;
    margin-left: 5%;
}
/******corps de la page*******/
body{
    background-color: #000;
}

main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
section{
    width: 45%;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
aside{
   text-align: center;
   background-color:aqua;
}
.localisation{
    width: 95%;
}
.localisationA{
    display: flex;
    flex-direction:row;
}
.google_card{
    width:70%;
    margin-left: 5%;
}
/******footer******/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    margin-top: 5%;
}
.syndic{
    padding-left: 5%;
}
ul{
    list-style: none;
}

/*******************************page tarif****************************************/
.tarif{
    width:100%;
    margin-top: 10%;
    background-color: rgb(221, 47, 47);
}
.tarif_price{
    font-size: 1.5rem;
    text-align: center;
    color: #FFF;
}
.price_title{
    color: #fff;
}
/***********************************page modalité****************************************/
.modalites{
    width:100%;
    margin-top: 10%;
    background-color: rgb(221, 47, 47);
}
.modalite_paragraphe{
    font-size: 1.5rem;
    text-align: center;
    color: #FFF;
}






